$primary: #4E4CBA;
$secondary: #72A8AF;
$light: #E9E4DB;
$info: #1C1C28;
$warning: #4584E3;
@import "node_modules/bootstrap/scss/bootstrap";
body {
    @extend .container-fluid;
    @extend .pt-3;
    font-size: 0.7em;
}

.clickable {
    cursor: pointer;
}

ul#bs-unit-selector {
    @extend .nav;
    @extend .nav-pills;
    @extend .justify-content-end;
    li {
        @extend .nav-item;
        a {
            @extend .nav-link;
            @extend .clickable;
        }
    }
}

#bs-statements {
    @extend .pt-3;
}

ul.bs-month-selector {
    @extend .nav;
    @extend .nav-tabs;
    li {
        @extend .nav-item;
        a {
            @extend .nav-link;
            @extend .clickable;
        }
    }
}

.bs-month-page {
    @extend .pt-3;
}

.bs-title {
    @extend .h4;
    @extend .text-primary;
}

table {
    @extend .table;
    td {
        @extend .align-middle;
    }
}

.bs-month-page {
    .bs-month-chart {
        @extend .mb-3;
        height: 30vh;
        min-height: 300px;
        width: 95vw;
    }
    table {
        @extend .table-sm;
        @extend .table-borderless;
        .bs-activity-row {
            &.bs-selected {
                background-color: theme-color-level('light', 1);
            }
            .bs-action,
            .bs-sub-action {
                @extend .text-center;
            }
            .bs-sub-action {
                @extend .small;
            }
            .bs-amount {
                @extend .text-monospace;
                @extend .text-info;
            }
            .bs-value {
                @extend .text-right;
                @extend .text-primary;
                font-size: 1.1em;
                font-weight: bold;
            }
        }
        .bs-activity-detail-row {
            td {
                @extend .p-0;
                .bs-popout {
                    @extend .bg-light;
                    @extend .container;
                    @extend .mb-2;
                    @extend .p-2;
                    .bs-content {
                        @extend .row;
                    }
                }
            }
        }
    }
}