$primary: #4E4CBA;
$secondary: #72A8AF;
$light: #E9E4DB;
$info: #1C1C28;
$warning: #4584E3;
@import "node_modules/bootstrap/scss/bootstrap";
body {
    @extend .container-fluid;
    @extend .pt-3;
    font-size: 0.7em;
}

.clickable {
    cursor: pointer;
}

ul#bs-unit-selector {
    @extend .nav;
    @extend .nav-pills;
    @extend .justify-content-end;
    li {
        @extend .nav-item;
        a {
            @extend .nav-link;
            @extend .clickable;
        }
    }
}

#bs-statements {
    @extend .pt-3;
}

ul.bs-month-selector {
    @extend .nav;
    @extend .nav-tabs;
    li {
        @extend .nav-item;
        a {
            @extend .nav-link;
            @extend .clickable;
        }
    }
}

.bs-month-page {
    @extend .pt-3;
}

table {
    @extend .table;
    td {
        @extend .align-middle;
    }
}

.bs-month-page {
    .bs-title {
        @extend .h4;
        @extend .text-primary;
    }
    .bs-month-chart {
        @extend .mb-3;
        height: 30vh;
        min-height: 300px;
        width: 95vw;
    }
    table {
        @extend .table-sm;
        @extend .table-borderless;
        .bs-activity-row {
            &.bs-selected {
                background-color: theme-color-level('light', 1);
            }
            .bs-action,
            .bs-sub-action {
                @extend .text-center;
            }
            .bs-sub-action {
                @extend .small;
            }
            .bs-amount {
                @extend .text-monospace;
                @extend .text-info;
            }
            .bs-value {
                @extend .text-right;
                @extend .text-primary;
                font-size: 1.1em;
                font-weight: bold;
            }
        }
        .bs-activity-detail-row {
            td {
                @extend .p-0;
                .bs-popout {
                    @extend .pl-4;
                    @extend .pr-4;
                    .bs-content {
                        @extend .bg-light;
                        .bs-table {
                            @extend .pb-2;
                            @extend .pl-2;
                            @extend .pr-2;
                            .bs-shaded {
                                background-color: theme-color-level('light', -3);
                                @extend .p-2;
                            }
                            .bs-table-title {
                                font-weight: bolder;
                            }
                            table {
                                table-layout: fixed;
                                th {
                                    @extend .p-0;
                                }
                            }
                        }
                        .bs-lot-table {
                            table {
                                .bs-purchase-time {
                                    width: 30%;
                                }
                                .bs-lot {
                                    width: 45%;
                                }
                                .bs-cost-basis {
                                    @extend .text-right;
                                    width: 25%;
                                }
                            }
                        }
                        .bs-commission-table {
                            table {
                                .bs-fill-time {
                                    width: 20%;
                                }
                                .bs-fill-detail {
                                    width: 35%;
                                }
                                .bs-method {
                                    width: 15%;
                                }
                                .bs-commission {
                                    @extend .text-right;
                                    width: 15%;
                                }
                                .bs-value {
                                    @extend .text-right;
                                    width: 15%;
                                }
                                .bs-cost {
                                    @extend .text-right;
                                    width: 15%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}